/* ==UserStyle==
@name			[SocialStreamNinja] AlinaRin
@namespace		https://github.com/NightWolf69
@version		1.0.0-pre-release
@description	Донастройка внешнего вида, и функционала мульти чата от Social Stream Ninja для AlinaRin
@author			NightWolf_69
@homepageURL    https://github.com/NightWolf69/My-.css-frontends
@supportURL     https://github.com/NightWolf69/My-.css-frontends/issues
@preprocessor   stylus

==/UserStyle== */

@-moz-document url-prefix("http://beta.socialstream.ninja"), url-prefix("https://beta.socialstream.ninja"), url-prefix("http://socialstream.ninja"), url-prefix("https://socialstream.ninja") {
	
    /* Делает Имя и Сообщение пользователя TWITCH, не курсивными */
	div[data-source-type="twitch"] div.hl-name,
	div[data-source-type="twitch"] span.hl-content {
		font-style: normal !important;
	}
	
	
	/* Увеличивает размер значка модератора YouTube */
	div[data-source-type="youtube"] > div.hl-message:has(> img[data-icon-name="youtube"]) span.hl-badge.textbadge {
		font-size: 16px;
	}
	
	
	/* Цвет выделения первого сообщения пользователя */
	div.highlight-chat[style="background-color: pink;"] {
		background-color: #FF00FF50 !important;
	}
	
	
	/* Выделение сообщений от определённых пользователей */
	div[data-chatname="arrowwoods"],
	div[data-chatname="bigrussianmum"],
	div[data-chatname="browjey"],
	div[data-chatname="by_owl"],
	div[data-chatname="c_a_k_e"],
	div[data-chatname="customstories"],
	div[data-chatname="dangar"],
	div[data-chatname="deadp47_"],
	div[data-chatname="dinablin"],
	div[data-chatname="DiSimon"],
	div[data-chatname="dmitry_bale"],
	div[data-chatname="dunduk"],
	div[data-chatname="evikey"],
	div[data-chatname="f1ashko"],
	div[data-chatname="honeymad"],
	div[data-chatname="hyver"],
	div[data-chatname="jamclub"],
	div[data-chatname="juice"],
	div[data-chatname="karmikkoala"],
	div[data-chatname="kati"],
	div[data-chatname="kosmeya"],
	div[data-chatname="krabick"],
	div[data-chatname="mashaglasha_"],
	div[data-chatname="mexaak"],
	div[data-chatname="mmilenko"],
	div[data-chatname="olyashaa"],
	div[data-chatname="olyavoodoo"],
	div[data-chatname="orkpod"],
	div[data-chatname="osuzdayu_twitch"],
	div[data-chatname="skoomacat"],
	div[data-chatname="sofiko_sculpts"],
	div[data-chatname="sorabi_"],
	div[data-chatname="tabula"],
	div[data-chatname="timofey"],
	div[data-chatname="ululla"],
	div[data-chatname="unclebjorn"],
	div[data-chatname="varden7"],
	div[data-chatname="venombrock"],
	div[data-chatname="vika_karter"],
	div[data-chatname="vun_dyne"],
	div[data-chatname="xkamysh"],
	div[data-chatname="ЗАГОТОВКА_ДЛЯ_КОПИРОВАНИЯ"],
	div[data-chatname="ЭТО_НЕ_ТРОГАЙ"] {
		background-color: #00FFFF50 !important;
	}
	
	
	/* Скрытие сообщений от определённых пользователей */
	div[data-chatname="ЗАГОТОВКА_ДЛЯ_КОПИРОВАНИЯ"],
	div[data-chatname="ЗАГОТОВКА_ДЛЯ_КОПИРОВАНИЯ"],
	div[data-chatname="ЭТО_НЕ_ТРОГАЙ"] {
		display: none !important;
	}
	
	
	/* Цвет выделения сообщения, когда меня упоминают */
	div.highlight-chat[style *="background-color: rgb(255"][style *=" 243"][style *="135);"] {
		background-color: #FF000050 !important;
	}
	
	
	/* Цвет ссылок в чате */
		/* Без наведения курсора */
		div.hl-message a {
			color: #5af !important;
		}
	
		/* При наведении курсора */
		div.hl-message a:hover {
			color: lightblue !important;
		}
	
	
	/* Цвет фона контекстного меню */
	nav#context-menu,
	nav#context-menu ul.context-menu__submenu {
		background-color: var(--menu-background-color, #1c1d1d) !important;
	}
	
	
	/* Крестик закрытия контекстного меню */
	nav#context-menu > div.closeBtn {
		background-color: grey !important;
		border: 0px transparent !important;
		color: var(--menu-background-color, #1c1d1d) !important;
	}
	nav#context-menu > div.closeBtn:hover {
		background-color: darkgrey !important;
	}
	
	
	/* Цвет пунктов контекстного меню */
	nav#context-menu a.context-menu__link {
		color: white !important;
	}
	
	
	/* Отключение пунктов контекстного меню */
	nav#context-menu li[data-action="Feature"],
	nav#context-menu li[data-action="Queue"],
	nav#context-menu li[data-action="TTS"],
	nav#context-menu li[data-action="Copy"],
	nav#context-menu li[data-action="VIP"],
	nav#context-menu li[data-action="MarkHost"],
	nav#context-menu li[data-action="MarkMod"],
	nav#context-menu li[data-action="MarkBot"] {
		display: none !important;
	}
}